.container {
  background: linear-gradient(60deg,#4158d0 0%,
  #c850c0 46%,
  #ffcc70 100%);

  height: 100vh;
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.header{
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.content{
  max-width: 111rem;
  background: rgba(255, 255, 255, .25);
  box-shadow: 0 .3rem 1.5rem 0 rgba(31, 38, 135, .4);
  padding: 3rem 6rem;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);

  position: relative;
}

.password{
  font-size: 3rem;
  padding: 0  2rem 2rem 2rem;
}

.btn{
  padding: .3rem 1.5rem;
  border: none;
  outline: none;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 2rem;
}

.btn-primary{
  position: absolute;
  top: .2rem;
  right: .2rem;
}

@media only screen and (max-width: 495px){
  .content{
    padding: 1rem 2rem;
  }
  .password{
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
}